{{ $headerKey := $.Scratch.Get "subSectionKey" }}
<div class="title-header small">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-12">
                <h1>Learn</h1>
                <p class="hidden-xs">Tutorial, samples and hands-on guides. Discover what SeedStack can do for you !</p>
            </div>
            <div class="col-md-3 hidden-sm hidden-xs">
                <div class="header-image-wrapper">
                    <img class="header-image" src="{{ $.Site.BaseURL }}img/logos/getting-started-logo.svg">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="title-subheader">
    <div class="container">
        <ul>
            <li>
                <span class='{{ if eq $headerKey "learn-overview" }}active{{ end }}'>
                    <i class="fa fa-home"></i> <a href="{{ $.Site.BaseURL }}learn">Overview</a>
                </span>
            </li>
            <li>
                <span class='{{ if eq $headerKey "learn-tutorial" }}active{{ end }}'>
                    <i class="fa fa-graduation-cap"></i> <a href="{{ $.Site.BaseURL }}learn/tutorial">Tutorial</a>
                </span>
            </li>
            <li>
                <span class='{{ if eq $headerKey "learn-samples" }}active{{ end }}'>
                    <i class="fa fa-gift"></i> <a href="{{ $.Site.BaseURL }}learn/samples">Samples</a>
                </span>
            </li>
            <li>
                <span class='{{ if eq $headerKey "learn-guides" }}active{{ end }}'>
                    <i class="fa fa-book"></i> <a href="{{ $.Site.BaseURL }}learn/guides">Guides</a>
                </span>
            </li>
            {{ if not .Params.NoMenu }}
            <li class="pull-right">
                {{ partial "menu-toggle.html" }}
            </li>
            {{ end }}
        </ul>
    </div>
</div>